:root {
  --header-height: 3rem;
  --header-paddingY: 7px;
  --nav-top: 115px;
}

/* Start Header */

header {
  padding-top: var(--header-paddingY);
  padding-bottom: var(--header-paddingY);
  border-bottom: 1px solid rgb(0 0 0 / 7%);
  transition: 0.2s ease-in-out;
  position: sticky !important;
  top: -2px !important;
  z-index: 60 !important;
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(30px);
  background-color: #e6e6e64d;
  -webkit-backdrop-filter: blur(20px);
  left: 0;
  width: 100%;
}



header > .container {
  min-height: var(--header-height);
}

header .nav .links {
  flex-wrap: wrap !important;
}

/* Header Nav  'responsive' */

@media (max-width: 1201px) {
  /* Show Nav Menu in small devices */
  header .nav-menu {
    display: flex !important;
  }
  header nav {
    position: absolute;
    left: 0;
    top: var(--nav-top);
    width: 100%;
    min-height: calc(100vh - var(--nav-top));
    gap: 5px !important;
    background: whitesmoke;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    place-content: center;
    z-index: -22;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    overflow-y: auto !important;
  }
  header nav.active {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 50 !important;
  }
  header nav .nav-link {
    padding-block: 3px !important;
    line-height: 1.1;
  }
  header nav .links {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    place-content: center !important;
    display: flex !important;
    flex: 0 !important;
    padding: 2px 10px !important;
  }

  header.mobile {
    opacity: 0;
    visibility: hidden;
    z-index: -111;
  }
  .mobile-btns {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 1px;
    padding: 2px 7px;
    z-index: 58 !important;
    opacity: 0;
    background-color: white !important;
    transition: 0.2s ease-in-out !important;
  }
  .mobile-btns > a {
    color: white;
    font-size: 14px !important;
    scale: 0.9 !important;
    text-align: center;
    width: 100% !important;
    min-width: 100% !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 8px 5px !important;
    margin: 0 !important;
    border-radius: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 2s !important;
  }
  .mobile-btns.mobile {
    opacity: 1 !important;
    z-index: 800 !important;
    top: -1px !important;
  }
  .top-btns {
    display: none !important;
  }
  /* Header icons small devices */
  .header-icons {
    flex-direction: column !important;
    row-gap: 10px !important;
    position: absolute;
    background-color: white !important;
    border-radius: 50px !important;
    background-color: white !important;
    transform: translateY(-50%);
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    right: 10%;
    top: 50%;
    align-items: center;
    justify-content: center;
    min-height: 230px !important;
  }

  header .header-icons .shooping-cart-icon {
    margin-top: 5px !important;
  }
}

@media (max-width: 320px) {
  .mobile-btns > a .comp-rounded-icon {
    display: none !important;
    font-size: 13px !important;
  }
}

/* Header nav large screens */

@media (min-width: 1000px) {
  header nav .links {
    margin-left: -50px !important;
  }
  .btns > a {
    font-size: 25px  !important;
  }
}

/* End Header */
